<div class="card">
  <div class="container-fliud">
    <div class="product-detail-wrapper row">
      <div class="preview col-md-6">
        <div class="preview-image tab-content">
          <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
        </div>       
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{ productDetails.name }}</h3>
        <p class="product-description">{{ productDetails.description }}</p>
        <h4 class="price">current price: <span>&#8377;500</span></h4>
      </div>
    </div>
  </div>
</div>