<div class="add-product-outer-wrapper card">
  <div class="add-product-wrapper">
    <h6 class="sub-heading">Add Product:</h6>
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2 form-field-box">
          <input type="text" formControlName="name" class="form-control form-control-md" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 form-field-box">
          <input type="text" formControlName="price" class="form-control form-control-md" id="price" placeholder="Enter price" name="price">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 form-field-box">
          <textarea rows="1" formControlName="description" class="form-control form-control-md" id="description" placeholder="Enter description" name="description"></textarea>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 form-field-box">
          <div class="custom-file">
            <input type="file" formControlName="image" class="custom-file-input form-control-md" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
          
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 form-field-box">
          <button type="button" class="btn btn-basic btn-gray" [disabled]="addProductForm.invalid || addProductForm.prestine">Add</button>
        </div>  
      </div>
    </form>
  </div>
</div>